<!DOCTYPE html>
<html>
<head>
<title>Enhance FAA CIFP Data</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <h1>Enhance FAA CIFP Data</h1>
  <h3 style="color:red">Under construction, please stand by.</h3>
  <p>Welcome to the FAA CIFP data enhancer. This app is not associated with the Federal Aviation Administration and has no warranty.</p>
  <p>See <a href="http://seanharger.com/posts/hundredths-of-degrees-from-death">this blog post</a> for more information</p>
  {{if .DisplayError}}<p style="color:red">{{.DisplayError}}</p>{{end}}
  <table>
    <tr><th>Cycle</th><th>Link</th></tr>
    {{range .Cycles}}
    <tr><td>{{.Name}}</td><td><a href="{{.ProcessedURL}}">Download</a></td></tr>
    {{end}}
  </table>
</body>
</html>
