<!DOCTYPE html>
<html>
<head>
<title>Enhance FAA CIFP Data</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Enhanced FAA CIFP Data</h1>
    <p>Welcome to the FAA Coded Instrument Flight Procedures (CIFP) data enhancer.
    It amends the FAA's CIFP data to fix localizer bearings to work better in
    flight simulators like X-Plane. See <a href="http://seanharger.com/posts/hundredths-of-degrees-from-death" target="_blank">this blog post</a>
    for more information.</p>
    <h2>Instructions</h2>
    <ol>
      <li>Right-click the download link for the cycle you want and save the file to your computer.</li>
      <li>Rename the file from <b><code>FAACIFP18_processed_MM-DD-YYYY.txt</code></b> to <b><code>earth_424.dat</code></b>.</li>
      <li>Copy the above file to your X-Plane "Custom Data" directory. A few example locations for this directory are listed below if you use Steam; your exact path to the directory may differ.
      See the <a href="https://developer.x-plane.com/article/navdata-in-x-plane-11/" target="_blank">official X-Plane instructions</a> for more information.<br>
        Windows: <b><code>C:\Program Files (x86)\Steam\steamapps\common\X-Plane 11\Custom Data</code></b><br>
        Mac: <b><code>"${HOME}/Library/Application\ Support/Steam/steamapps/common/X-Plane\ 11/Custom\ Data/earth_424.dat"</code></b>
      </li>
    </ol>
    <h2>Processed Data Downloads</h2>
    {{if .DisplayError}}<p style="color:red">{{.DisplayError}}</p>{{end}}
    <table class="table">
      <tr><th>Cycle</th><th>Link</th></tr>
      {{range .Cycles}}
      <tr><td>{{.Name}}</td><td><a href="{{$.URLFor .Processed}}">Download</a></td></tr>
      {{end}}
    </table>
    <h3>Bugs</h3>
    <p>If you encounter any unexpected behavior with this website or the processed data, please file an issue on the 
      <a href="https://github.com/wallaceicy06/webapp-enhance-faa-cifp/issues/" target="_blank">GitHub repository</a>.</p>
    <h3>Obligatory Legal Disclaimer</h3>
    <p>This app is not associated with the Federal Aviation Administration and has no warranty.</p>
    <hr>
    <div class="container" style="text-align: center;">
      Built with
      <img style="height:16px" src="https://golang.org/lib/godoc/images/go-logo-blue.svg"></img>
    </div>
  </div>
</body>
</html>
